<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DataChannel Example</title>
	
	<!-- This code was developed by @ArinSime and WebRTC.ventures for a WebRTC blog post.  
You are welcome to use it at your own risk as starter code for your applications, 
but please be aware that this is not a complete code example with all the necessary 
security and privacy considerations implemented that a production app would require.  
It is for educational purposes only, and any other use is done at your own risk. -->

	<script src="/socket.io/socket.io.js"></script>

	<style>
	div#memory_board{
		background:#CCC;
		border:#999 1px solid;
		width:800px;
		height:540px;
		padding:24px;
		margin:0px auto;
	}
	div#memory_board > div{
		background: url(tile_bg.jpg) no-repeat;
		border:#000 1px solid;
		width:71px;
		height:71px;
		float:left;
		margin:10px;
		padding:20px;
		font-size:64px;
		cursor:pointer;
		text-align:center;
	}
	</style>

  </head>
  <body>

	<div>
		<input id="setupBoard" type="submit" value="New Board"/>
	</div>
	
	<div id="memory_board"></div>
	
	<div>
		<div id="chatArea">Data Channel Messages:</br></div>
		<div id="signalingArea">Signaling Messages:</br></div>
	</div>
	
	<script src="js/datachannel.js"></script>
	<script src="js/memorygame.js"></script>
  </body>
</html>