<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DataChannel Example</title>
	
	<!-- This code was developed by @ArinSime and WebRTC.ventures for a WebRTC blog post.  
You are welcome to use it at your own risk as starter code for your applications, 
but please be aware that this is not a complete code example with all the necessary 
security and privacy considerations implemented that a production app would require.  
It is for educational purposes only, and any other use is done at your own risk. -->

	<script src="/socket.io/socket.io.js"></script>

  </head>
  <body>

	Data Channel Example
	
	<video id="myVideoTag" autoplay></video>
	<video id="theirVideoTag" autoplay></video>
	
	<div>
		<label>Your Name</label><input id="myName" type="text"/>
		<label>Message</label><input id="myMessage" type="text"/>
		<input id="sendMessage" type="submit"/>
		<div id="chatArea">Message Output:</br></div>
		<div id="signalingArea">Signaling Messages:</br></div>
	</div>
	
	
	<!-- Our project javascript files -->
	<script src="js/datachannel.js"></script>
  </body>
</html>